logs
*.log
*.egg-info
test-result.xml
*.egg
*.pyc
.idea
flake8*
pylint*
dist
build
test-result.xml*
clonedigger.xml
.coverage*
coverage*
htmlcov
cron.txt
.DS_Store
*.swp
.eggs
venv
.cache
output
*,cover
tmp
